@import url("normalize.css");


body {
  margin-left: 3em;
  margin-right: 3em;
}

.error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
  margin-bottom: 1em;
  border-width: 1em; /* TODO doesn't show up */
  padding: 1em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.notice {
  background-color: goldenrod;
  margin-bottom: 1em;
  border-width: 1em; /* TODO doesn't show up */
  padding: 1em;
}

form#addbutton, form#search {
  display: inline;
}

nav {
  text-align: right;
}

th {
  text-align: left;
}
