@import url("normalize.css");

nav {
  display:inline; list-style:none; float: right; margin-right:3em;
}

body {
  margin-left: 3em;
  margin-right: 3em;
}

form#search {
  display: inline;
}

nav {
  text-align: right;
}

th {
  text-align: left;
}
