@import url("normalize.css");

nav {
  display:inline; list-style:none; float: right; margin-right:3em;
}

body {
  margin-left: 3em;
  margin-right: 3em;
}

form#search {
  display: inline;
}

nav {
  text-align: right;
}

.error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
  margin-bottom: 18px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

th {
  text-align: left;
}
